* {
    margin: 0;
    padding: 0;
}
button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid aqua;
    outline: none;
    background-color: transparent;
    position: relative;
    -webkit-transition: all .2s;
    transition: all .2s;
    overflow: hidden;
    color: aqua;
    &:hover {
        color: #333;
    }
}
.button1{
    &:before,&:after{
        content: '';
        width: 100px;
        height: 0;
        position: absolute;
        left: -1px;
        display: block;
        background-color: aqua;
        -webkit-transition: all .4s;
        transition: all .4s;
        z-index: -1;
    }
    &:before{
        bottom: 50%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &:after {
        top: 50%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    &:hover{
        &:before,&:after{
            height: 50%;
            -webkit-transition: all .2s;
            transition: all .2s;
        }
    }
}
.button2{
    &:before{
        content: "";
        background-color: aqua;
        position: absolute;
        z-index: -1;
        top: 0;
        right: -30px;
        height: 100%;
        width: 0;
        -webkit-transform: skew(45deg, 0);
        transform: skew(45deg, 0);
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    &:hover{
        &:before{
            width: 150%;
        }
        
    }
}
.button3{
    &:before,&:after{
        content: '';
        top: 0;
        background-color: aqua;
        position: absolute;
        width:0%;
        height: 100%;
        z-index: -1;
        -webkit-transform: skew(45deg, 0);
        transform: skew(45deg, 0);
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    &:before{
        left: -13px;
    }
    &:after{
        right: -13px;
    }
    &:hover{
        &:before,&:after{
            width: 100%;
        }
    }
}